{% extends 'base.html.twig' %}

{% block title %}Careera{% endblock %}

{% block navbar %}
        <!-- Navbar Start -->
        <div class="container-fluid nav-bar bg-transparent">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-3">
                <a href="{{ path('app_home') }}" class="navbar-brand d-flex align-items-center text-center">
                    
                    <img class="img-fluid" src="{{ asset('img/transparentcareera.png') }}" alt="Icon" style="width: 150px; height: 100px;">
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="{{ path('app_home') }}" class="nav-item nav-link active">Acceuil</a>
                        <a href="{{ path('app_offremod') }}" class="nav-item nav-link">Offres d'emploi</a>
                        <a href="{{ path('app_event') }}" class="nav-item nav-link">Evénements</a>
                        <a href="{{ path('app_offrefrelencer_index') }}" class="nav-item nav-link">Mission freelance</a>
                        <a href="{{ path('discussion_stats') }}" class="nav-item nav-link">Communication</a>
                        <a href="{{ path('chatbot_page') }}" class="nav-item nav-link {% if app.request.get('_route') == 'chatbot_page' %}active{% endif %}">
                            <i class="fa-solid fa-robot"></i>  
                        </a>
                    </div>
                     <div class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user-circle fa-2x"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_profilemoderateur') }}">Profile</a></li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
        <!-- Navbar End -->
{% endblock %}
{% block body %}
<!-- Header Start -->
        <div class="row mt-5">
            <div class="col"></div>
        </div>

        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4 mt-5">Plateforme <span class="text-primary">des opportunités</span></h1>
                    <h3 class="animated fadeIn mb-4 pb-3">pour les étudiants et jeunes professionnels.</h3>
                   
                </div>
             <div class="col-lg-6 animated fadeIn">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item">
                        <img class="img-fluid" src="{{ asset('/img/careeraflyer.png') }}" alt="flyer" style="width: 90%; height: 450px; object-fit: cover;">
                    </div>
                    <div class="owl-carousel-item">
                        <img class="img-fluid" src="{{ asset('img/careeragalss.png') }}" alt="" style="width: 90%; height: 450px; object-fit: cover;">
                    </div>
                </div>
            </div>

            </div>
        </div>

        <!-- Header End -->

<div class="row mt-5">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-6"><h1 class="mb-3">Gestion des opportunités</h1></div>

        <div class="col-lg-2">
        </div>
</div
       
<div class="container">
    <div class="row g-4">
        <!-- Section 1 : Offres d'emploi -->
        <div class="col-lg-1"> </div>
        <div class="col-lg-5">
            <div class="bg-light rounded p-3">
                <div class="row g-3 align-items-center">
                    <div class="col-3">
                        <img class="img-fluid rounded w-100" src="{{ asset('img/emp.jpg') }}" alt="Offres d'emploi">
                    </div>
                    <div class="col-9">
                        <h1>Vos offres d'emploi</h1>
                        <p>Ajoutez, modifiez, ou supprimez vos offres d'emploi en quelques clics. Notre plateforme vous permet de gérer facilement toutes vos opportunités.</p>
                        <a href="{{ path('app_offre') }}" class="btn btn-primary py-2 px-4"><i class="fas fa-cogs me-2"></i>Gérer les offres</a>
                    </div>
                </div>
            </div> 
        </div>
        <!-- Section 2 : Événements -->
        <div class="col-lg-5">
            <div class="bg-light rounded p-3">
                <div class="row g-3 align-items-center">
                    <div class="col-3">
                        <img class="img-fluid rounded w-100" src="{{ asset('img/event.jpg') }}" alt="Événements">
                    </div>
                    <div class="col-9">
                        <h1>Événements à venir</h1>
                        <p>Participez à des événements conçus pour propulser votre carrière. De la formation au réseautage, nous avons tout ce qu'il vous faut.</p>
                        <a href="{{ path('app_events') }}" class="btn btn-primary py-2 px-4"><i class="fas fa-cogs me-2"></i>Gérer les évènements</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"> </div>
        <!-- Section 3 : Missions freelance -->
        <div class="col-lg-1"> </div>
        <div class="col-lg-5">
            <div class="bg-light rounded p-3">
                <div class="row g-3 align-items-center">
                    <div class="col-3">
                        <img class="img-fluid rounded w-100" src="{{ asset('img/free.jpg') }}" alt="Missions freelance">
                    </div>
                    <div class="col-9">
                        <h1>Missions freelance</h1>
                        <p>Nous sommes déterminés à offrir à nos utilisateurs des outils efficaces pour améliorer leurs chances de réussite et d'épanouissement professionnel.</p>
                        <a href="mission/missionmod.html" class="btn btn-primary py-2 px-4"><i class="fas fa-cogs me-2"></i>Gérer les missions</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Section 4 : Les Demandes -->
        <div class="col-lg-5">
            <div class="bg-light rounded p-3">
                <div class="row g-3 align-items-center">
                    <div class="col-3">
                        <img class="img-fluid rounded w-100" src="{{ asset('img/demande.jpg') }}" alt="Demandes">
                    </div>
                    <div class="col-9">
                        <h1>Les Demandes</h1>
                        <p>Gérez vos demandes de missions pour collaborer efficacement avec des freelances qualifiés et compétents.</p>
                        <a href="demande.html" class="btn btn-primary py-2 px-4"><i class="fas fa-cogs me-2"></i>Gérer les demandes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"> </div>
    </div>
</div>

            
            <!-- main End -->
{% endblock %}
