{{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.description) }}
    {{ form_row(form.datelimite) }}
    {{ form_row(form.specialite) }}
     {{ form_row(form.imageUrl) }}

    <button type="submit">Enregistrer</button>
{{ form_end(form) }}


