{% extends 'base.html.twig' %}

{% block title %}Détails de la Demande de Mission{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4 text-center">Détails de la Demande de Mission</h1>

        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title mb-0">Demande de Mission #{{ demande_mission.id }}</h5>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <tbody>
                        <tr class="table-light">
                            <th scope="row" class="w-25">ID de la Demande</th>
                            <td>{{ demande_mission.id }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Lettre de Motivation</th>
                            <td>{{ demande_mission.message }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Portfolio</th>
                           
                                <td>{{ demande_mission.portfolio }}</td>
                            
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Statut</th>
                            <td>
                                <span class="badge bg-{{ demande_mission.status == 'acceptée' ? 'success' : (demande_mission.status == 'refusée' ? 'danger' : 'warning') }}">
                                    {{ demande_mission.status }}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

              
            </div>
        </div>
    </div>
{% endblock %}