{% extends 'base.html.twig' %}

{% block title %}Ajouter une Candidature{% endblock %}

{% block body %}
<h1 class="text-center my-4">Ajouter une Candidature</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="wow fadeInUp" data-wow-delay="0.5s">
                <p class="mb-4">Ajoutez votre candidature pour une offre disponible. Remplissez les informations ci-dessous.</p>
                {{ form_start(addform, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="row g-4">
                    <div class="col-md-12">
                        <div class="form-floating">
                            {{ form_widget(addform.offre, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                            <label for="{{ addform.offre.vars.id }}">Offre</label>
                            {{ form_errors(addform.offre) }}
                        </div>
                    </div>
                    
                  
                    <div class="col-md-12">
                        <div class="form-floating">
                            {{ form_widget(addform.lettremotivation, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                            <label for="{{ addform.lettremotivation.vars.id }}">Lettre de Motivation</label>
                            {{ form_errors(addform.lettremotivation) }}
                        </div>
                    </div>
                    
                   <div class="col-12 text-center mt-4">
                        <button class="btn btn-success w-75 py-3" type="submit">Enregistrer</button>
                    </div>
                </div>
                {{ form_end(addform) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}